[Unit]
Description=Boucan All in One Deployment
Requires=docker.service
After=docker.service

[Service]
Restart=always

WorkingDirectory=/opt/boucan

# Remove old containers, images and volumes
ExecStartPre=/opt/boucan/compose.sh prod down -v
ExecStartPre=/opt/boucan/compose.sh prod rm -fv
ExecStartPre=-/bin/bash -c 'docker volume ls -qf "name=boucan_" | xargs docker volume rm'
ExecStartPre=-/bin/bash -c 'docker network ls -qf "name=boucan_" | xargs docker network rm'
ExecStartPre=-/bin/bash -c 'docker ps -aqf "name=boucan_*" | xargs docker rm'

# Compose up
ExecStart=/opt/boucan/compose.sh prod up

# Compose down, remove containers and volumes
ExecStop=/opt/boucan/compose.sh prod down -v

[Install]
WantedBy=multi-user.target